# IDE and System files
.idea/
.vscode/
*.iws
*.iml
*.ipr
.DS_Store

# Docker and Secrets
.env

# WordPress Core / Database
/.srv/*
!/.srv/custom.ini

# Standard WordPress themes
/themes/*
!/themes/NovaTheme/

# Node dependencies and build files
**/node_modules/
**/dist/

# Plugins
/plugins/*
!/plugins/index.php